<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>

<body ng-app="soundApp" ng-controller="MainCtrl">
    <div id="container">
        <div id="header">
            <h1><a href="/">Test API</a></h1>
        </div>
        <!-- Test 1 -->
        <div id="wrapper">
            <div id="content">
                <div class="post">
                    <h2>Stackathon</h2>
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <p>Oscilloscope</p>
                            <canvas id="oscilloscope" style="background: white;"></canvas>
                        </div>
                        <div class="col-lg-6 text-center">
                            <p>Frequency Bar</p>
                            <canvas id="frequency" style="background: white;"></canvas>
                        </div>
                    </div>
                    <!--                         <script src="scripts/static.js"></script>
                        <script src="scripts/index.js"></script> -->
                    <!--                         <script>
                        var sample = new MicrophoneSample();
                        </script> -->
                    <button id="play-me">play</button>
                </div>
            </div>
        </div>
        <script src="scripts/learn.js"></script>
        <script>
        var song = new Song();
        window.onload = function() {
            $("#play-me").on('click', (function() {
                song.play();
            }))
        }
        </script>
</body>

</html>
