<div class="row text-center">
    <div class="col-xs-12">
      <div class="row" id="noteBar">
          <h1 id="randNoteTitle" ng-show="started">{{randNote|| ''}} <small ng-show="randNote">({{randNoteFreq}} Hz)</small></h1>
          <h1 ng-hide="started" id="waitingMessage" class="subheadline animated infinite pulse item-space">Press Play to start!</h1>
          <canvas ng-show="started" id="musical-note" width=100 height=100></canvas>
      </div>
<!--       <div class="row">
          <input type="range" min="5" max="14"></input>
      </div> -->
    </div>
</div>
<!-- Not NEEDED ANYMORE -->
<!-- <div id="detector" class="vague">
<h1> Your current pitch: <span id="note-name"></span></h1>
</div> -->
<div class="row text-center" id="WidgetAndVoice">
    <!-- < ng-class="{'animated flipInY':reset}" -->
    <canvas id="widget" width=300 height=300></canvas>
    <canvas id="voice" width=100 height=100></canvas>
</div>
<div class="row text-center">
    <a id="nav" class="btn btn-primary item-space" ng-click="playPrev()"><h1><i class="fa fa-backward"></i></h1></a>
    <a id="nav" class="btn btn-primary item-space" ng-click="pause()"><h1 ><i class="fa fa-pause"></i></h1></a>
    <a id="nav" class="btn btn-primary item-space" ng-click="giveNote(); reset=true"><h1 ><i class="fa fa-play"></i></h1></a>
    <a id="nav" class="btn btn-primary item-space repeatNote" ng-click="repeatNote()"><h1 ><i class="fa fa-refresh"></i></h1></a>
    <a id="nav" class="btn btn-primary item-space" ui-sref="home"><h1 ><i class="fa fa-home"></i></h1></a>
    <a id="nav" class="btn btn-primary item-space" ng-click="playNext()"><h1 ><i class="fa fa-forward"></i></h1></a>
</div>
<!-- <div class="row">
       <div> <button type="button" class="btn btn-primary" ng-click="giveNote()">Give Note!</button> </div>
      <div>  <button type="button" class="btn btn-danger" ng-click="pause()">Pause</button> </div>
       <div>  <button type="button" class="btn btn-warning" ng-click="repeatNote()">Repeat Note!</button> </div>
       <div>  <button type="button" class="btn btn-danger" ng-click="playPrev()">Previous Note!</button> </div>
       <div>  <button type="button" class="btn btn-success" ng-click="playNext()">Next Note!</button> </div>
    </div>
</div> -->
