<div class="row">
    <div class="col-xs-12 text-center">
    <h1>Menu <!-- Battle of the Pitches --> </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button style="display:block; width: 100%;" class="btn btn-primary" ui-sref="pitch"> Training Mode </button>
    </div>
    <div class="col-xs-12">
        <button style="display:block; width: 100%;" class="btn btn-danger" ui-sref="battle.waiting"> Let's battle, Pitches!</button>
    </div>
</div>

<div>What's your name? <form><input ng-model="userName"></form> <button ng-click="register(userName)">Submit</button> </div>
<pre>nickName: {{nickName}}</pre>
