@import url(https://fonts.googleapis.com/css?family=Dosis|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Raleway:400,200,300,500,100|Titillium+Web:400,200,300italic,300,200italic);
* {
    box-sizing: border-box;
}

body {}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// #main {
//   padding-top: 60px;
//   width: 1200px;
//   margin: 0 auto;
// }
@import './animate.scss';
@import './custom.scss';
#nav {
    margin: auto 0.5vw;
    > h1 {
        font-size: 6em;
    }
}

@media screen and (max-width: 768px) {
    #nav {
        > h1 {
            font-size: 3em;
        }
    }
    #tagLine {
        display: none;
    }
    .repeatNote {
        display: none;
    }
}

#logo {
    margin: 0 auto 5vh auto;
}

#WidgetAndVoice {
    position: relative;
    height: 310px; //size of widget
}

#widget {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#voice {
    position: absolute;
    bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#randNoteTitle {
    display: inline-block;
}

#noteBar {
    > * {
        vertical-align: middle;
    }
    background-color: white;
    margin-bottom: 1em;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-bottom: 0.25em #2C3E50 solid;
    border-left: 0.25em #2C3E50 solid;
    border-right: 0.25em #2C3E50 solid;
}

#loginQuestion {
    display: block;
    width: 100%;
    border: 0.06em solid white;
    color: white;
    padding: 15px 30px;
    background: #18BC9C;
    border-radius: 0.5em;
    transition: 0.4s ease all;

}

#loginQuestion:hover {
        background: white;
        color: #000;
        border: 1px solid black;
}

#loginQuestion:focus{
    outline:none;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */

    color: white;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */

    color: white;
    opacity: 1;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */

    color: white;
    opacity: 1;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */

    color: white;
}

// #battleLogo {
// display: inline-block;
//     max-height: 14vh;
//     margin-left: 2vw;
//     margin-right: 2vw;
// }

// #battleTop {
//     margin-top:30px;
// }
// #battleTop>*{
//     vertical-align: middle;
// }

#waitingMessage {
    margin-top: 10vh;
}

// #bodyPic    {
//     position: absolute;
//     top: 0;
//     margin-left: auto;
//     margin-right: auto;
//     left: 0;
//     right: 0
// }

#profilePic, #opponentPic {
    position: absolute;
    top: 35px;
    left: 75px;
    // height: 160px;
    // width: 160px;
}

.hidden {
    display:none;
}



// #fightScreen{
//     position: relative;
//     min-height: 50vh;

// }
//
// video {
//     height: 160px;
//     width: 160px;
//     object-fit:fill;
//     overflow:hidden;
// }
